fastapi
uvicorn
pydantic
python-dotenv
qdrant-client
langchain-voyageai
langchain-community
langchain-text-splitters
pypdf
tqdm
groq
langchain-groq
python-multipart
rank-bm25
scikit-learn
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
